* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.white {
    color: white;
}

.btn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    margin-right: 10px;
}


/* WebApp */
#upper-section {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    flex-basis: 50px;
    justify-content: space-between;
}

#logo {
    display: none;
}

.button-description {
    display: none;
}

#sidebar ul li {
    padding: 5px 0;
    margin: auto;
    list-style-type: none;
    width: 32px;
}


#sidebar ul li a{
    text-decoration: none;
    color: #707070;
}

#playlist {
    display: none;
    overflow: auto;
}


.icon {
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon.gray {
    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(99%) contrast(84%);
}

.download {
    color: #707070;
}

.icon.small {
    width: 20px;
    position: relative;
    left: 3px;
}

#sidebar hr {
    margin: 10px 0;
    background-color: #707070;
    border: 1px solid #707070;
    display: none;
}

.icon.profile {
    background-color: #707070;
    border-radius: 50%;
}


 
#content {
    width: 100%;
    height: 100vh;
}
/* Header */
header {
    width: calc(100% - 50px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    line-height: 100px;
    text-align: right;
}


/* Main */
main {
    text-align: center;
    height: calc(100% - 100px);
    background-color: #141922;
    overflow: auto;
    padding: 100px 15px;
    color: white;
    width: 100%;
}

/* Nav */
main nav ul {
    text-align: center;
}

main nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px;
}

.highlighted::after {
    margin: auto;
    display: block;
    content: '';
    height: 3px;
    width: 30%;
    background-color: #bdff30;
    margin-top: -3px;
    border-radius: 30px;
}

main li a {
    line-height: 33px;
    text-decoration: none;
    color: #808287;
    font-weight: 700;
}

/* Section */
.section-title {
    text-align: left;
    font-size: 30px;
    margin: 30px 15px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 195px;
    margin: 0 15px;
}

main img {
    width: 100%;
    margin-bottom: 15px;
}

main h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

main h4 {
    font-size: 19px;
    margin: 10px 0;
    color: #707070;
}

main h3 {
    font-size: 15px;
    color: #707070;
    margin-bottom: 15px;
}

.artist-img {
    border-radius: 50%;
}



/* Footer */
footer {
    z-index: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    background-color: #282828;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-size: 13px;
}

footer h2 {
    color: #7e7e7e;
    font-size: 7px;
}


/* Left cover */
.left-f {
    display: flex;
    justify-content: space-between;
}

#song-cover {
    max-width: 50px;
}

#song-title-author {
    align-self: center;
    padding: 0 10px;
}

/* Icons */
#song-fav {
    color: #707070;
    align-self: center;
    width: 15px;
}


/* Center */
#center-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Media player controls */
#player-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 225px;
    margin-bottom: 5px;
}

/* Song time stamp */
.song-minute {
    line-height: 19px;
    font-size: 10px;
}

/* Right */
#right-f i{
    margin-right: 5px;
}

/* Bar */
.bar {
    display: inline-block;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 15px;
    vertical-align: middle;
    margin: 0 5px;
}
/* Bar Content */
.bar.plain::after {
    display: block;
    content: '';
    height: 5px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
}
.bar.volume {
    width: 70px;
    position: relative;
    bottom: 1px;
    margin: 0;
}

.bar.time {
    width: 150px;
}


@media screen and (min-width: 768px){

    /* Sidebar */
    #sidebar {
        flex-basis: 150px;
        padding: 15px;
    }
    
    #logo-xs {
        display: none;
    }

    #logo {
        margin-top: 19px;
        display: inline-block;
        width: 130px;
    }

    #sidebar ul li {
        vertical-align: middle;
        text-align: left;
        width: 190px;
        margin: 0;
        padding: 0;
        color: #707070;
    }

    #sidebar #top-sidebar ul li {
        margin-bottom: 10px;
    }

    .button-description {
        display: inline-block;
        position: relative;
        top: 3px;
        font-weight: 700;
    }

    .button-description.download {
        font-size: 13px;
        font-weight: 700;
        position: relative;
        top: 0;
    }

    header {
        width: calc(100% - 190px);
    }

    .bar.time {
        width: 250px;
    }

    #song-fav {
        padding-left: 10px;
    }

    #logo-container {
        height: 100px;
        width: 150px;
    }

    

    /* Playlist */
    #playlist {
        margin: 30px 0;
        color: #707070;
        overflow: auto;
        display: block;
    }
    
    #playlist h3 {
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .plus-icon {
        background-color: #707070;
        color: black;
        border-radius: 1px;
        padding: 10px;
        margin-right: 3px;
    }

    .create-playlist {
        font-weight: 700;
    }

    .playlist-name {
        font-weight: 700;
        margin: 15px 0;
    }

    #sidebar hr {
        display: block;
    }


    .highlighted-horizontal::before {
        margin: auto;
        display: block;
        content: '';
        height: 100%;
        width: 3px;
        background-color: #bdff30;
    }
}


@media screen and (min-width: 992px) {
    .bar.time {
        width: 390px;
    }

    .bar.volume {
        width: 100px;
    }

    #right-f i {
        margin-right: 15px;
    }

    #song-fav {
        color: #707070;
        align-self: center;
        width: 83px;
        padding-left: 35px;
    }

    .fa-heart {
        margin-right: 10px;
    }

    footer h2 {
        font-size: 10px;
    }
}
