* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* WebApp */
#website-section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    flex-basis: 50px;
    justify-content: space-between;
}

#sidebar ul li {
    padding: 5px 0;
    margin: auto;
    list-style-type: none;
    width: 70%;
}

.small-icon {
    width: 20px;
    position: relative;
    left: 5px;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}




#content {
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Content */
header {
    flex-basis: 100px;
    background-color: black;
}

main {
    flex-grow: 1;
    background-color: green;
    overflow: auto;
}




footer {
    flex-shrink: 0;
    flex-basis: 100px;
    background-color: yellow;
}