* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    margin-right: 10px;
}


/* WebApp */
#upper-section {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    flex-basis: 50px;
    justify-content: space-between;
}

#sidebar ul li {
    padding: 5px 0;
    margin: auto;
    list-style-type: none;
    width: 65%;
}

.small-icon {
    width: 20px;
    position: relative;
    left: 5px;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}


 
#content {
    width: 100%;
    height: 100vh;
}
/* Header */
header {
    width: calc(100% - 50px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    line-height: 100px;
    text-align: right;
}


/* Main */
main {
    text-align: center;
    height: calc(100% - 100px);
    background-color: #141922;
    overflow: auto;
    padding: 100px 15px;
    color: white;
    width: 100%;
}

/* Nav */
main nav ul {
    text-align: center;
}

main nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px;
}

.highlighted {
    border-bottom: 3px solid #a9fa2f;
}

main li a {
    text-decoration: none;
    color: #808287;
    font-weight: 700;
}

/* Songs */
main h1 {
    text-align: left;
    font-size: 30px;
    margin: 30px 0px;
}
/* 
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 195px;
    margin-right: 15px;
}

main img {
    width: 100%;
    margin-bottom: 15px;
}

main h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

main h3 {
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
} */



/* float version */
.cards::after {
    clear: both;
    display: table;
    content: '';
}

.card {
    float: left;
    width: 195px;
    margin-right: 15px;
}

main img {
    width: 100%;
    margin-bottom: 15px;
}

main h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

main h3 {
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
}














/* Footer */
footer {
    flex-shrink: 0;
    flex-basis: 100px;
    background-color: #282828;
}