* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* WebApp */