* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}


/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15apx 50px;
    font-size: 15px;
    margin-right: 10px;
}


/* WebApp */
#website-section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    flex-basis: 50px;
    justify-content: space-between;
}

#sidebar ul li {
    padding: 5px 0;
    margin: auto;
    list-style-type: none;
    width: 65%;
}

.small-icon {
    width: 20px;
    position: relative;
    left: 5px;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}




#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Content */
/* Header */
header {
    line-height: 100px;
    flex-basis: 100px;
    background-color: #080b12;
    text-align: right;
}

main {
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}




footer {
    flex-shrink: 0;
    flex-basis: 100px;
    background-color: #282828;
}