* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* Utilities */
.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.white {
    color: white;
}

.btn {
    line-height: 30px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 15px;
    margin-right: 50px;
    display: inline-block;
}

.btn:hover {
    transition: 1s;
    transform: scale(1.1);
}



/* WebApp */
#upper-section {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: row;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    flex-basis: 50px;
    justify-content: space-between;
}

#logo-container {
    width: 32px;
    margin: 10px auto 5px auto;
    padding: 5px 0;
}

#logo {
    display: none;
    width: 130px;
}

.button-description {
    display: none;
}

#sidebar ul li {
    padding: 5px 0;
    margin: auto;
    list-style-type: none;
    width: 32px;
}


#sidebar ul li a{
    text-decoration: none;
    color: #707070;
}

#playlist {
    height: 350px;
    display: none;
    overflow: auto;
    color: #707070;
}


.icon {
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon.gray {
    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(99%) contrast(84%);
}

.download {
    color: #707070;
}

.icon.small {
    width: 20px;
    position: relative;
    left: 3px;
}

#sidebar hr {
    margin: 10px 0;
    background-color: #707070;
    border: 1px solid #707070;
    display: none;
}

.icon.profile {
    background-color: #707070;
    border-radius: 50%;
}

/* hovers */
#top-sidebar ul li:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(206deg) brightness(175%) contrast(101%);
}

#sidebar ul li.active-horizontal:hover {
    filter: none;
}

#bot-sidebar ul li:first-child:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(206deg) brightness(175%) contrast(101%);
}


 
#content {
    width: 100%;
    height: 100vh;
}
/* Header */
header {
    z-index: 1;
    width: calc(100% - 50px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    line-height: 100px;
    text-align: right;
}


/* Main */
main {
    text-align: center;
    height: calc(100% - 100px);
    background-color: #141922;
    overflow: auto;
    padding: 100px 15px;
    color: white;
    width: 100%;
}

/* Nav */
nav {
    margin: 10px 0;
}
nav ul {
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a:hover {
    color: white;
}

.active::after {
    margin: auto;
    display: block;
    content: '';
    height: 3px;
    width: 30%;
    background-color: #bdff30;
    margin-top: -3px;
    border-radius: 30px;
}

main li a {
    line-height: 33px;
    text-decoration: none;
    color: #808287;
    font-weight: 700;
}

/* Section */
.section-title {
    text-align: left;
    font-size: 30px;
    margin: 30px 15px;
}

/* Cards */

main a {
    text-decoration: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    flex-basis: calc(50% - 30px);
    margin: 0 15px;
    position: relative;
}

.card figure {
    position: relative;
}

main img:hover {
    filter: opacity(0.5);
}

/* Playlist Card Hover */
main .for-you-card:hover {
    transition: 0.3s;
    transform: translateY(-15px);
}

/* Recently Added Hover */
.play-icon:hover::after {
    display: block;
    pointer-events: none;
}

.play-icon::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    display: none;
    content: '\f144';
    color: white;
    filter: drop-shadow(0px 3px 6px black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/* Artist Card Hover */
.artist-card:hover::after {
    display: block;
    pointer-events: none;
}

.artist-card::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 35px;
    display: none;
    content: '\f144';
    color: #9bd02d;
    filter: drop-shadow(0px 3px 6px black);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10%, -75%);
}

/* Card info */

.card-title {
    text-decoration: none;
    color: white;
}

.card-title:hover {
    text-decoration: underline;
}

.card-author {
    text-decoration: none;
    color: #707070;
}

.card-author:hover {
    text-decoration: underline;
}

main img {
    max-width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

main img::before {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: green;
}


main h2 {
    font-size: 32px;
    font-weight: 700;
}

main h3 {
    font-size: 19px;
    margin-bottom: 10px;
}

main h5 {
    font-size: 19px;
    margin: 10px 0;
    color: #707070;
}

main h4 {
    font-size: 15px;
    color: #707070;
    margin-bottom: 15px;
}

.artist-img {
    border-radius: 50%;
}



/* Footer */
footer {
    z-index: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    background-color: #282828;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    font-weight: 700;
    font-size: 13px;
}

footer h3 {
    color: #7e7e7e;
    font-size: 7px;
}

footer h2:hover {
    text-decoration: underline;
}

footer h3:hover {
    text-decoration: underline;
}

/* Left cover */
.left-f {
    display: flex;
    justify-content: space-between;
}


#song-cover {
    max-width: 50px;
}

#song-cover:hover {
    filter: opacity(0.5);
}

#song-title-author {
    align-self: center;
    padding: 0 10px;
}

#song-title-author a {
    color: white;
    text-decoration: none;
}

.fa-heart:hover {
    color: white;
}

.fa-folder:hover {
    color: white;
}

/* Icons */
#song-fav {
    color: #707070;
    align-self: center;
    width: 15px;
}

#song-fav * {
    cursor: pointer;
}


/* Center */
#center-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Media player controls */
#player-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 225px;
    margin-bottom: 5px;
}


#player-controls *:hover{
    transform: scale(1.05);
}



/* Song time stamp */
.song-minute {
    line-height: 19px;
    font-size: 10px;
}

/* Right */
#right-f i{
    margin-right: 5px;
    cursor: pointer;
}

/* Bar */
.bar {
    display: inline-block;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 15px;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

/* Fill  */

.bar.fill:hover::before {
    background-color: #bdff30;
}

.bar.fill::before {
    display: block;
    content: '';
    height: 5px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
}


/* Bar selector */
.bar.circle-selector::after {
    display: none;
    content: '';
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.bar.circle-selector:hover::after {
    display: block;
}


.bar.volume {
    width: 70px;
    position: relative;
    bottom: 1px;
    margin: 0;
}

.bar.time {
    width: 150px;
}


@media screen and (min-width: 768px){

    /* Sidebar */
    #sidebar {
        flex-basis: 220px;
        padding: 15px;
    }
    
    #logo-xs {
        display: none;
    }

    #logo {
        display: inline-block;
    }

    #sidebar ul li {
        vertical-align: middle;
        text-align: left;
        width: 190px;
        margin: 0;
        padding: 0;
        color: #707070;
    }

    #sidebar #top-sidebar ul li {
        margin-bottom: 10px;
    }

    .button-description {
        display: inline-block;
        position: relative;
        top: 3px;
        font-weight: 700;
    }

    .button-description.download {
        font-size: 13px;
        font-weight: 700;
        position: relative;
        top: 0;
    }

    header {
        width: calc(100% - 190px);
    }

    .bar.time {
        width: 250px;
    }

    #song-fav {
        padding-left: 10px;
    }

    #logo-container {
        height: 75px;
        width: 150px;
    }

    

    /* Playlist */
    #playlist {
        margin: 30px 0;
        display: block;
    }
    
    #playlist h3 {
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .plus-icon {
        background-color: #707070;
        color: black;
        border-radius: 1px;
        padding: 10px;
        margin-right: 3px;
    }

    .create-playlist {
        cursor: pointer;
        font-weight: 700;
    }

    .create-playlist:hover {
        color: white;
    }

    .playlist-name {
        font-weight: 700;
        margin: 15px 0;
        cursor: pointer;
    }

    .playlist-name:hover {
        color: white;
    }

    #sidebar hr {
        display: block;
    }

    li.active-horizontal {
        position: relative;
    }

    .active-horizontal::after {
        display: block;
        content: '';
        height: 30px;
        width: 5px;
        background-color: #b8ff32;
        position: absolute;
        bottom: 0;
        left: -15px;
    }
}


@media screen and (min-width: 992px) {
    
    .card {
        flex-basis: calc(100% / 4 - 30px);
    }

    .bar.time {
        width: 390px;
    }

    .bar.volume {
        width: 100px;
    }

    #right-f i {
        margin-right: 15px;
    }

    #song-fav {
        color: #707070;
        align-self: center;
        width: 83px;
        padding-left: 35px;
    }

    .fa-heart {
        margin-right: 10px;
    }

    footer h3 {
        font-size: 10px;
    }
}

@media screen and (min-width: 1199px) {
    .card {
        flex-basis: calc(100% / 6 - 30px);
    }
}

@media screen and (max-height: 830px) {
    #playlist {
        height: 190px;
    }
}

@media screen and (max-height: 635px) {
    #playlist {
        height: 150px;
    }
}


@media screen and (max-height: 619px) {
    #playlist {
        display: none;
    }
}